:root {
    --rojo: #FF1B1C;
    --naranja: #FF7F11;
    --negro: #262626;
    --blanco: #FFFFFC;
    --beis: #c0a65e;
}
* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
h2 {
    text-align: center;
    font-size: 32px;
}
.button {
    display: flex;
    justify-content: center;
}
.button-link {
    display: flex;
    border: 1px solid var(--rojo);
    width: 200px;
    height: 40px;
    align-items: center;
    justify-content: center;
    color: var(--negro);
    border-radius: 5px;
}
.button-link:hover {
    border: 2px solid var(--naranja);
    background: var(--naranja);
    color: var(--blanco);
}
/************************** Header ************************************/
nav {
    background: var(--negro);
    height: 80px;
    width: 100%;
}
.logo {
    padding: 0 10px;
    margin: 10px;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    color: var(--blanco);
    font-size: 17px;
    padding: 7px 13px;
    /* text-transform: uppercase; */
}
a:active {
    background: var(--naranja);
    color: var(--blanco);
}
a:hover {
    background: var(--naranja);
    color: var(--blanco);
    transition: .5s;
}
.checkbtn {
    font-size: 30px;
    color: var(--blanco);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    overflow: hidden;
}
#check {
    display: none;
}
.container {
    width: 100%;
    max-width: 1000px;
    margin: 100px auto;
    height: 100%;
    overflow: hidden;
}
/**************************  INDEX **************************/
/************************** Hero section **************************/
.hero {
    background: url('https://res.cloudinary.com/cristianyovanny/image/upload/v1621718505/images/hero.jpg') no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
    width: 100%;
    text-align: center;
    margin: auto 0;
}
.title {
    color: var(--blanco);
    max-width: 800px;
    width: 100%;
    padding-top:20vh;
    margin: 0 auto;
}
.text-logo {
    font-family: 'Crete Round', serif !important;
    font-size: 30px;
    display: block;
    padding: 10px;
    /* border: 5px solid var(--blanco); */
    color: var(--blanco);
}
.text-logo:hover {
    background: none;
}
.text-logo .subtitle {
    font-family: Helvetica, sans-serif !important;
    color: var(--beis);
    background: var(--negro);
    padding: 12px 20px;
    transition: .5s ease all;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.text-logo:hover .subtitle {
    background: var(--naranja);
    color: var(--blanco);
}
.animated-text {
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.animated-text > div {
    display: flex;
    flex-direction: column;
    position: relative;
    transition: .3s ease all;
}
.animated-text > div.animated {
    transform: translateY(-130px);
}

.animated-text > div span {
    font-size: 100px;
    font-weight: normal;
    line-height: 130px;
}
.animated-text .second-line {
    position: absolute;
    top: 130px;
}
/************************** Services section **************************/
.services {
    text-align: center;
}
.services .skill-container {
    display: flex;
    padding-top: 50px;
}
.services .skill-container .skill {
    margin: 0 10px;
    border: 1px solid var(--rojo);
    border-radius: 15px;
    box-shadow: 0 1px 3px var(--negro);
    padding: 20px 10px;
    margin-bottom: 50px;
}
.services .skill-container .skill:hover {
    border: 2px solid var(--naranja);
}
.services .skill-container .skill h3 {
    padding-top: 20px;
}
.services .skill-container .skill .skill-data ul li {
    text-align: justify;
    margin: 10px 20px;
    list-style: circle;
    text-decoration: var(--beis);
    padding-top: auto;
}
/**************************  Projects section  **************************/
.projects {
    text-align: center;
}

.projects .container h2 {
    font-size: 32px;
}
/**************************  Social media  **************************/
.social-media {
    background: var(--negro);
    text-align: center;
}
.container-social-media {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.title-social {
    color: var(--blanco);
    grid-row: 1 2;
    font-size: 18px;
}
.link-social {
    display: inline-block;
    padding: 20px;
}
.link-social a {
    color: var(--blanco);
}
.link-social a:hover {
    color: var(--naranja);
    background: none;
}
.link-social a:hover i {
    font-size: 60px;
}
.link-social a i {
    font-size: 50px;
}
/**************************  Footer  **************************/
.footer {
    background: var(--beis);
    width: 100%;
    height: 50px;
}

.footer .container-footer {
    text-align: center;
}

.footer .container-footer p {
    color: var(--blanco);
    padding-top: 10px;
}

.attribution {
    text-align: center;
    font-size: 10px;
    color: var(--blanco);
}

.attribution a {
    color: var(--blanco);
}
/**************************  ABOUT **************************/
/**************************  Hero section **************************/
.hero-about {
    background: url('https://res.cloudinary.com/cristianyovanny/image/upload/v1621975598/images/hero_about.jpg');
    background-size: cover;
    height: 30vh;
}
.hero-about h2 {
    font-size: 32px;
    color: var(--blanco);
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 100px;
    text-align: left;
}
.profile {
    text-align: center;
}
.profile p {
    text-align: justify;
    font-size: 26px;
    padding: 0 20px;
}
.photo-profile {
    margin-bottom: 30px;
}
.photo-profile img {
    border-radius: 100%;
}
.icono-profile {
    padding-top: 50px;
    padding-bottom: 50px;
}
/**************************  Contact-About section **************************/
.contact-text {
    padding-bottom: 50px;
}
.contact-text h2 {
    text-align: center;
}
/**************************  Projects section **************************/
.projects {
    padding-top: 50px;
}
.projects h2 {
    text-align: center;
    padding-bottom: 30px;
}
.container-project {
    display: flex;
}
.project-image img {
    border-radius: 100%;
}
.project-data {
    padding: 10px;
}
.project-data p {
    padding: 20px 10%;
}
/**************************************************************************/
/**************************  Responsive design **************************/
@media (max-width: 1120px) {
    .title {
        padding-top: 10vh;
    }
}

@media (max-width: 952px) {
    label.logo {
        padding-left: 10px;
    }
    nav ul li a {
        font-size: 16px;
    }
    .title {
        width: 100%;
    }
    .animated-text > div span {
        font-size: 90px;
        line-height: 120px;
    }
    .animated-text .second-line {
        top: 120px;
    }
    .animated-text > div.animated {
        transform: translateY(-120px);
    }
    .text-logo .subtitle {
        font-size: 28px;
    }
    .container {
        padding: 0 10px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    .navbar {
        position: fixed;
        width: 100%;
        height: calc(100vh - 80px);
        background: #2e2e2e;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav .navbar li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a.active {
        background: none;
        color: #FF1B1C;
    }
    a:hover {
        background: none;
        color: #FF7F11;
        transition: .5s;
    }
    #check:checked ~ ul {
        left: 0;
    }
    .hero {
        height: 40vh;
    }
    .text-logo:hover {
        color: var(--blanco);
    }
    .animated-text > div span {
        display: none;
    }
    .animated-text > div:hover span {
        display: inherit;
        font-size: 80px;
        line-height: 120px;
    }
    .animated-text .second-line {
        top: 82px;
    }
    .animated-text > div.animated {
        transform: translateY(-82px);
    }
    .text-logo .subtitle {
        font-size: 24px;
    }
    .services .skill-container {
        display: block;
    }
    .services .skill-container {
        height: 100%;
    }
    .link-social a i {
        font-size: 32px;
    }
    .container-project {
        display: block;
    }
    .project {
        padding-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .animated-text .second-line {
        top: 70px;
    }
    .animated-text > div.animated {
        transform: translateY(-70px);
    }
    .text-logo .subtitle {
        font-size: 20px;
    }
    .link-social a i {
        font-size: 24px;
    }
    h1{
        padding: 0 10px;
        text-align: justify; 
    }
    h2 {
        padding: 0 10px;
        text-align: justify;
        font-size: 32px;
    }
}

@media (max-width: 460px) {
    .text-logo .subtitle {
        font-size: 18px;
    }
}

@media (max-width: 380px) {
    .text-logo .subtitle {
        font-size: 16px;
    }
    .link-social a i {
        font-size: 18px;
    }
}

@media (max-width: 290px) {
    .text-logo .subtitle {
        font-size: 14px;
    }
    h1{
        text-align: justify;
        font-size: 24px;
    }
    h2 {
        text-align: justify;
        font-size: 26px;
    }
    .link-social a i {
        font-size: 16px;
    }
}